@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~react-image-gallery/styles/css/image-gallery.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0b;

  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 0px; /* width of vertical scrollbar */
}

link {
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
::placeholder {
  color: #6f6f6f;
  opacity: 1; /* Firefox */
}
* {
  box-sizing: border-box;
}

img,
object {
  user-select: none;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #000000;
  }
}

.Link {
  text-decoration: none;
}
p {
  color: "white";
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 1;
  }
  48% {
    opacity: 0.9;
  }
  50% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}
